/*ESTILIZAÇÕES GENÉRICAS*/
.gradient-box {
    -fx-background-color: linear-gradient(to bottom right, #c5c6c7, #878f99, #656c75);
}

/*ESTILIZAÇÕES DO HOME*/
.home-menubar {
    -fx-font-size: 13px;
    -fx-border-color: #c5c6c7;
    -fx-border-width: 1px;
    -fx-z-index: 1;
}

.home-options .button {
    -fx-background-color: #5b6070;
    -fx-text-fill: #dedfe0;
    -fx-border-color: #dedfe0;
    -fx-font-size: 16px;
    -fx-pref-width: 300px;
    -fx-pref-height: 35px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
}

.home-options .button:hover {
    -fx-background-color: #dedfe0;
    -fx-text-fill: #5b6070;
    -fx-border-color: #5b6070;
}

/*ESTILIZAÇÕES DO CAIXA*/
/*ESTILIZAÇÕES DO VERIFICADORDEPRECO*/
.verificadordepreco-titulo-principal {
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-text-fill: #1f1f30;
}

.verificadordepreco-titulo {
    -fx-font-size: 18;
    -fx-text-fill: #1f1f30;
}

.textFieldVerificador {
    -fx-font-size: 16px;
}

.comboBoxVerificador {
    -fx-font-size: 16px;
}

.verificadordepreco-descricao {
    -fx-font-size: 16;
    -fx-text-fill: #1f1f30;
    -fx-background-color: #d1d1d1;
    -fx-background-radius: 5px;
    -fx-label-padding: 5px;
}

/*ESTILIZAÇÕES DO SOBRE*/
.sobre-titulo {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #1f1f30;
}

.sobre-descricao {
    -fx-font-size: 16;
    -fx-text-fill: #1f1f30;
}